*{margin: 0;padding:0}

#background{
    background: linear-gradient(270deg, #19e7b2, #f6f65a, #755af6);
    background-size:200% 200%;
    
    -webkit-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

#container{
  overflow: hidden;
  height: 710px;
  width: 950px;
  margin:auto;
}

.wrapper{
    width: 6500px;
    margin-top: 150px;
    -webkit-animation: slide 20s ease infinite;
}
.slide {
  float: left;
  height: 510px;
  width: 950px;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -950px;}
  50% {margin-left: -950px;}
  60% {margin-left: -1900px;}
  70% {margin-left: -1900px;}
  80% {margin-left: -2850px;}
  90% {margin-left: -2850px;}
}

.img{
    height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px black;
}


.about{
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 70px;
    padding: 5px;
}


.text{
    font-family:"Lucida Sans Typwriter", Monaco, monospace;
    font-size: 25px;
}
