*{margin: 0;padding:0}

#background{
    background: linear-gradient(270deg,cyan,aqua);
    background-size:100% 100%;
    
    -webkit-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

#container{
  overflow: hidden;
  height: 710px;
  width: 950px;
  margin:auto;
  background-color: 
}

.wrapper{
    width: 6500px;
    margin-top: 150px;
    -webkit-animation: slide 20s ease infinite;
}
.slide {
  float: left;
  height: 510px;
  width: 950px;
  border-radius: 10px 10px 10px 10px;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -950px;}
  50% {margin-left: -950px;}
  60% {margin-left: -1900px;}
  70% {margin-left: -1900px;}
  80% {margin-left: -2850px;}
  90% {margin-left: -2850px;}
}

.img{
    height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px black;
}


.about{
    height: auto;
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 70px;
    padding: 25px;
    background-color: black;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px 10px 10px 10px;
}


.text_div{
    font-family:"Lucida Sans Typwriter", Monaco, monospace;
    font-size: 25px;
    color: aqua;
}

.text{
    margin-left: 5%;
    font-size: 30px;
    text-shadow: 10px;
    background-color: brown;
}
#text{
    text
}
