* { margin:0; padding:0; }

.menuBar{
    background-color: black;
    height: 70px;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    flex-flow: column;
    position: fixed;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 20px black;
}
.menuItem{
    padding-top: 10px; 
    width: 50%;
    height: inherit;
    align-self: center;
    color:white;
    text-align:center;
    letter-spacing:8px;
    font-size:30px;
    font-family:Impact, Charcoal, sans-serif;
    position: relative;
}